$menu_basic_font: 'Montserrat', sans-serif;
$mega_menu_color_1: #e0e7ed;
$mega_menu_color_2: #ffffff;
$mega_menu_color_3: #4c7491;
$mega_menu_color_4: #858585;
$mega_menu_color_5: #7196ab;
$mega_menu_color_6: #becdd9;
$mega_menu_color_7: #6f7f8c;
$basic_font_size: 16px;